<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <form #LoginForm = "ngForm" (ngSubmit)="onSubmit(LoginForm.value)">
      <ion-input label="User Id" labelPlacement="floating" fill="outline" [clearInput]="true" placeholder="Enter UserId"  type="text" name="UserId"  ngModel></ion-input>
      <br/>
      <ion-input label="Password" labelPlacement="floating" fill="outline" [clearInput]="true" placeholder="Enter Password"  type="text" name="Password" ngModel></ion-input>
        <br/>
      <br/>
      <input type="submit" value="submit"/>

    </form>
    </div>
</ion-content>
