<ion-content class="leftMenu_Wrapper">
  <!-- SideBar Start -->
  <div class="sidenav">
    <div class="sidebar_Logo">
      <img class="logoside_bar" src="/Images/Enoviq_logo.png" alt="" />
    </div>
    <div class="sidebar_menus">
      <div class="sidebar_menu_top">
        <div class="modules Mselected">
          <a class="outline_menu" href="/Dashboard.html">
            <div class="menu">
              <ion-icon class="IonIcon" name="home-outline"></ion-icon>
              <span class="menu_txt">Home</span>
            </div>
          </a>
        </div>
        <div class="modules">
          <a class="outline_menu" href="/Tickets.html">
            <div class="menu menu_selected">
              <ion-icon class="IonIcon" name="ticket-outline"></ion-icon>
              <span class="menu_txt">Tickets</span>
            </div>
          </a>
        </div>
        <div class="modules">
          <a class="outline_menu" href="">
            <div class="menu">
              <ion-icon class="IonIcon" name="calendar-outline"></ion-icon>
              <span class="menu_txt">Activities</span>
            </div>
          </a>
        </div>
        <div class="modules">
          <a class="outline_menu" href="">
            <div class="menu">
              <ion-icon class="IonIcon" name="person-add-outline"></ion-icon>
              <span class="menu_txt">Contacts</span>
            </div>
          </a>
        </div>
        <div class="modules">
          <a class="outline_menu" href="">
            <div class="menu">
              <ion-icon class="IonIcon" name="bookmarks-outline"></ion-icon>
              <span class="menu_txt">KB</span>
            </div>
          </a>
        </div>
        <div class="modules">
          <a class="outline_menu" href="/Admin.html">
            <div class="menu">
              <ion-icon class="IonIcon" name="settings-outline"></ion-icon>
              <span class="menu_txt">Admin</span>
            </div>
          </a>
        </div>
        <div class="modules">
          <a class="outline_menu" href="">
            <div class="menu">
              <ion-icon class="IonIcon" name="ellipsis-horizontal-outline"></ion-icon>
              <span class="menu_txt">More</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- SideBar End -->
</ion-content>
